apiVersion: v1
baseDomain: {{ ocp_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ ocp_worker_count }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ ocp_master_count }}
metadata:
  name: {{ ocp_name }}
networking:
  clusterNetwork:
  - cidr: {{ ocp_network_cluster_cidr }}
    hostPrefix: {{ ocp_network_hostprefix }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ ocp_network_service_cidr }}
platform:
  none: {}
fips: false
pullSecret: {{ ocp_pull_secret | b64decode | trim | quote }}
sshKey: {{ public_key['content'] | b64decode | trim | quote }}