apiVersion: v1
baseDomain: {{ ocp_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ ocp_worker_count }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ ocp_master_count }}
metadata:
  name: {{ ocp_name }}
networking:
  clusterNetwork:
  - cidr: {{ spoke_network }}.0/{{ spoke_netmask_slash }}
    hostPrefix: {{ spoke_host_prefix }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ spoke_service_network }}
platform:
  none: {}
fips: false
pullSecret: {{ ocp_pull_secret | trim | quote }}
sshKey: {{ public_key['content'] | b64decode | trim | quote }}